:root{
    --primary-color: #ff4c68;
    --secondary-color: #ef8172;
    --white-color: #fff;
    --paragraph-color: #8f8f8f;
    --card-header: rgb(189, 189, 189);
    --black-color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    color: var(--paragraph-color);
}

/* Headings */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}

.colored-section {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.white-section {
    background-color: var(--white-color);
}

/* NAVIGATION BAR */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

#title .navbar {
    padding: 0 0 4.5rem;
}

#title .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

#title .nav-item {
    padding: 0 1.125rem;
}

#title .nav-link {
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}

/* Download Button */

#title .download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

#title .title-image {
    width: 25%;
    transform: rotate(20deg);
    position: absolute;
    right: 23%;
}

@media (max-width: 1024px) {
    #title .container-fluid {
        text-align: center;
    }

    #title .title-image {
        position: static;
        transform: rotate(0);
        width: 55%;
    }
}

@media (max-width: 768px){
    #title .title-image {
        width: 65%;
    }

    #title .big-heading{
        font-size: 2.5rem;
    }

    #title .navbar-brand {
        font-size: 2rem;
    }

    #title button {
        font-size: 1.2rem;
    }
}

@media (max-width: 524px){
    #title .title-image {
        width: 60%;
    }

    #title button {
        font-size: .9rem;
    }
}

/* Features Section*/

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

#features .columns {
    padding: 3%;
}

#features p {
    font-weight: bold;
}

#features .icon {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    transition: .2s ease;
}

#features .icon:hover {
    color: var(--primary-color);
}

/* Testimonials */

#testimonials {
    background-color: var(--secondary-color);
}

#testimonials .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials .testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 1.25rem;
}

@media (max-width: 900px){
    #testimonials .testimonial-text {
        font-size: 2.5rem;
    }

    #testimonials .testimonials-image {
        width: 15%;
    }

    #press .press-logo {
        width: 20%;
    }
}

@media (max-width: 768px){
    #testimonials .testimonial-text {
        font-size: 2rem;
    }

    #press .press-logo {
        width: 30%;
    }
}

/* Press Section */

#press {
    background-color: var(--secondary-color);
    padding-bottom: 3%;
}

#press .press-logo {
    width: 15%;
    margin: 1.25rem 1.25rem 3.125rem;
}

/* Pricing Section */

#pricing {
    padding: 6.25%;
}

.price-subhead {
    font-size: 1.5rem;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

#pricing .btnSized {
    padding: 3% 39%;
}

#pricing .pricing-column {
    padding: 3% 2%;
}

#pricing .card-header {
    background-color: var(--card-header);
}

@media (max-width: 900px){
    #pricing .section-heading {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px){
    #pricing .section-heading {
        font-size: 2.1rem;
    }
}

/* CTA Section*/

.cta-heading {
    color: var(--white-color);
    font-size: 3.5rem;
    line-height: 1.5;
}

#cta .download-button-cta {
    margin: 5% 2% 5% 0;
}

@media (max-width: 900px){
    #cta .cta-heading {
        font-size: 2.8rem;
    }
}

@media (max-width: 768px){
    #cta .cta-heading {
        font-size: 2.5rem;
    }
}

@media (max-width: 524px){
    #cta .cta-heading {
        font-size: 2.3rem;
    }

    #cta button {
        font-size: .9rem;
    }
}

/* Footer Section */

#footer a {
    padding: 1%;
    color: var(--black-color);
    font-weight: bold;
}

#footer p {
    color: var(--black-color);
    padding-top: 2%;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 524px){
    #footer p {
        font-size: .9rem;
    }
}
